body {
    padding-top: 80px;
    overflow-x: hidden;
}
*{
    margin: 0;
    box-sizing: border-box;
    
}
.logo {
    float: left;
    position: fixed;
    height: 80px;
    top: -0%;
    left: 10px;
  }
.fixed-header {
    width: 100%;
    position: fixed;
    background: #e82f2f;
    padding: 20px 0;
    color: #fff;
    z-index: 999;
    top: 0;
}
.fixed-footer {
    width: 100%;
    margin-top: 80px;
    background: #e82f2f;
    padding: 20px 0;
    color: #fff;
    bottom: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-family: fantasy;
    padding: 10px 10px;
    display: inline-block;
    float: right;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.imageSlider{
    width: 100vw;
    height: 700px;
    position: relative;
    margin: auto;
    margin-top: -5px;
    background-color: gray;
}

#stippen{
    text-align: center;
    width: 100vw;
    margin-top: -25px;
}

.stip{
    
position: absolute;
cursor: pointer;
height: 20px;
width: 20px;
margin: 0 2px;
border: solid 5px white;
background-color: transparent;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease; 
}

.stip:hover{
    background-color: red;
}

#stip1{
 margin-left: -30px
}

#stip2{

}

#stip3{
    margin-left: 34px
}

#foto{
    margin: 0;
    height: 700px;
    max-height: 700px;
    transition: img 1s ease-in;
}

#knop{
    background-color: #e82f2f;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 40px;
    border-radius: 8px;
    width: 300px;
    height: 60px;
    position: absolute;
    margin-top: -300px;
    margin-left: 15vw;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(48, 48, 48);
}
#knop2{
    background-color: #e82f2f;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 38px;
    border-radius: 8px;
    width: 300px;
    height: 60px;
    position: absolute;
    margin-top: -200px;
    margin-left: 15vw;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(48, 48, 48);
}

#lijn{
    height: 2px;
    width: 100%;
    border-top: black solid 10px;
    margin-top: 90px;
}

#foto3{
    width:180px ;
    position: absolute;
    margin-top: -40px;
    margin-left: -85px;
}
#foto3div{
    text-align: center;
}

#titel{
    margin-top: -500px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 15vw;
    text-shadow: 1px 1px 2px gray;
    color: #fff;
}

#tekst{
    text-shadow: 1px 1px 2px gray;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15vw;
    color: #fff;
}

#menuimg{
    margin-top: 100px;
    width: 100%;
}

#menuimgimg{
    width: 1500px;
    margin-left: 13%;
    margin-right: 13%;
    
}
#knop3{
    background-color: #e82f2f;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 38px;
    border-radius: 8px;
    width: 300px;
    height: 60px;
    position: absolute;
    margin-top: -450px;
    margin-left: 42vw;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(48, 48, 48);
}