body {
    padding-top: 80px;
}
*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.fixed-header,
.fixed-footer {
    width: 100%;
    position: fixed;
    background: #e82f2f;
    padding: 20px 0;
    color: #fff;
}
.fixed-header {
    top: 0;
}
.fixed-footer {
    bottom: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-family: fantasy;
    padding: 10px 10px;
    display: inline-block;
    float: right;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.imageSlider{
    width: 100vw;
    height: 700px;
    position: relative;
    margin: auto;
    margin-top: 1px;
    background-color: gray;
}

#stippen{
    text-align: center;
    width: 100vw;
    margin-top: -25px;
}

.stip{
    
position: absolute;
cursor: pointer;
height: 20px;
width: 20px;
margin: 0 2px;
border: solid 5px white;
background-color: transparent;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease; 
}

.stip:hover{
    background-color: red;
}

.img{
    margin: 0;
    height: 700px;
    max-height: 700px;
}

#knop{
    background-color: #e82f2f;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 40px;
    border-radius: 8px;
    width: 300px;
    height: 60px;
    position: absolute;
    margin-top: -300px;
    margin-left: 15vw;
    font-weight: bold;
}

#titel{
    margin-top: -500px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 15vw;
    text-shadow: 1px 1px 2px gray;
    color: #fff;
}

#tekst{
    text-shadow: 1px 1px 2px gray;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15vw;
    color: #fff;
}