.form
{
    border-radius: 10px;
    height: auto;
    width: 400px;
    margin-top: 5%;
    margin-left: 40%;
    background-color: white;
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.75);
    text-align: center;
    padding: 50px;
    align-items: center;
}
.icon
{
    background-image: url(../../belangrijkeimages/pictogram.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 30%;
}
.input
{
    height: 30px;
    border: solid rgb(209, 209, 209) 1px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    margin: 5px;
}
.input:focus
{
    outline: none !important;
    border:1px solid rgb(221, 75, 75);
    box-shadow: 0 0 10px #719ECE;
}
.inputs
{
    margin-top: 10px;
}
.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #c9c8c8;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    margin-top: 5px;
    }
    .button1:hover{
    color:#d1d1d1;
    background-color:#424242;
    }
    @media all and (max-width:30em){
     .button1{
     display:block;
     margin:0.4em auto;
        }
    }
    body {
        padding-top: 80px;
    }
    *{
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    .fixed-header,
    .fixed-footer {
        width: 100%;
        position: fixed;
        background: #e82f2f;
        padding: 20px 0;
        color: #fff;
    }
    .fixed-header {
        top: 0;
    }
    .fixed-footer {
        bottom: 0;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
    nav a {
        color: #fff;
        text-decoration: none;
        font-family: fantasy;
        padding: 10px 10px;
        display: inline-block;
        float: right;
    }
    
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .users{
        margin-top: 50px;
        width: 100%;
        height: 700px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
    }
