@font-face {
  font-family: 'happyitalic';
  src: url('happy_italic-webfont.woff2') format('woff2'),
       url('happy_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
    padding-top: 80px;
    background-color: burlywood;
    font-family: 'happyitalic';
  }
  *{
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;    /*Normaal*/
  }
  .logo {
    float: left;
    position: fixed;
    height: 90px;
    top: -0%;
    left: 10px;
  }
.fixed-header{
    top: 0;
    height: 95px;
    width: 100%;
    position: fixed;
    background: #f30039;
    padding: 10px ;
    color: #fff;
    z-index: 999;
    background-image: url(../../belangrijkeimages/rough-cloth-light.png);
}
.fixed-footer {
    bottom: 0;
    width: 100%;
    margin-top: 80px;
    padding: 10px;
    color: #fff;
    background: #f30039;
    background-image: url(../../belangrijkeimages/rough-cloth-light.png);
}
.container {
    width: 80%;
    margin: 0 auto;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    padding: 15px;
    display: inline-block;
    float: right;
}

  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

/* custom scrollbar */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: .5s;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
  
  .bg-image {
    background-image: url("bgImage1.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
    width: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
 
  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 80%;
    width: 95%;
    padding: 20px;
    text-align: center;
  }
  .left
  {
    grid-area: left;
  }
  .right
  {
    grid-area: right;
  }
  .bottom
  {
    grid-area: bottom;
  }
  .bg-text
  {
    display: grid;
    grid-template-areas: 
    'left left left bottom bottom bottom'
    'left left left bottom bottom bottom'
    'left left left bottom bottom bottom'
    'left left left bottom bottom bottom';
  }
  .bg-text > div {
    padding: 20px 0;
  }
  div.scroll {
    width: 600px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }
  .locatie {
    height: 80px;
    padding: 10px;
    margin: 4px;
    transition: .4s;
    background-color: rgb(22,22,22); 
    background-color: rgba(22, 22, 22, 0.4);
    text-align: left;
    font-size: 12px;
  }
  .locatie > p{
    color: rgb(223, 223, 223);
  }
  .locatie:hover{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    scale: 1.01
  }
  .map {
    transition: .5s;
  }
/*Sidebar regeling*/
  .sidebar {
    height: 91%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 79px;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgb(160, 160, 160);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}
.side-header{
  width: 100%;
  background: #ff1111;
  height: 5%;
  top: 0;
  position: absolute;
  color: white;
  text-align: center;
}
.banner{
  height: auto;
  width: 100%;
}
.side1{
  width: 210px;
  height: 30px;
  border-radius: 5px;
  background-color: #656869;
  margin-top: 8px;
  margin-left: 45%;
  color: #cfe5e9;
}
.side1:hover{
  background-color:#6f7172 ;
}
.openingstijden{
  text-align: center;
}