.logo {
  float: left;
  position: fixed;
  top: -0%;
  left: 10px;
}

body {
  margin: 0%;
}

p {
  position: fixed;
  right: 50%;
  bottom: 150%;
  color: #f3284d;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 13%;
gap: 10px;
  margin-left: 20px;
  margin-top: -1%;
}

.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: #f3284d;
  padding: 17px 0;
  color: #fff;
}

.fixed-header {
  top: 0px;
}

.pizza {
  color: #f3284d;
  font-family: bebas;
}

.pasta {
  color: #f3284d;
  font-family: bebas;
}

.drinks {
  color: #f3284d;
  font-family: bebas;

  bottom: 10%;
  right: 50%;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  float: right;
  font-family: bebas;
  font-size: 1.3rem;
}

@font-face {
  font-family: bebas;
  src: url(bebas/Bebas-Regular.otf);
}

.winkelwagen {
  height: 80vh;
  
  width: 386px;
  position: fixed;
  border: 6px solid #f3284d;
  bottom: 13px;
  right: 10px;
  overflow-y: auto;
}
#witext{
  font-size: larger;
  text-align: center;
  font-family: bebas;
}

.een {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
margin-left: 30%;
}

.een:hover {
  background-color: #e5183e;
}

.een:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.twee {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
  margin-left: 30%;
}

.twee:hover {
  background-color: #e5183e;
}

.twee:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.drie {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
  margin-left: 30%;
}

.drie:hover {
  background-color: #e5183e;
}

.drie:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.vier {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
  margin-left: 30%;
}

.vier:hover {
  background-color: #e5183e;
}

.vier:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.vijf {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
  margin-left: 30%;
}

.vijf:hover {
  background-color: #e5183e;
}

.vijf:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.zes {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;

  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
  margin-left: 30%;
}

.zes:hover {
  background-color: #e5183e;
}

.zes:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.zeven {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
  margin-left: 30%;
}

.zeven:hover {
  background-color: #e5183e;
}

.zeven:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.acht {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  font-size: 17.2px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
  margin-left: 30%;
}

.acht:hover {
  background-color: #e5183e;
}

.acht:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.negen {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
  margin-left: 30%;
}

.negen:hover {
  background-color: #e5183e;
}

.negen:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.pizza1 {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  margin-left: 30%;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;

}

.pizza1:hover {
  background-color: #e5183e;
}

.pizza1:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.pizza2 {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  margin-left: 30%;
  font-size: 19px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
}

.pizza2:hover {
  background-color: #e5183e;
}

.pizza2:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.pizza3 {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  margin-left: 30%;
  font-size: 17px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
}

.pizza3:hover {
  background-color: #e5183e;
}

.pizza3:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.pizza4 {
  border-radius: 19px;
  border: 0;
  line-height: 1.7;
  margin-left: 30%;
  font-size: 17px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
}

.pizza4:hover {
  background-color: #e5183e;
}

.pizza4:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.pizza5 {
  border-radius: 20px;
  line-height: 1.7;
  font-size: 17px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  font-family: bebas;
  margin-left: 30%;
}

.pizza5:hover {
  background-color: #e5183e;
}

.pizza5:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.pizza6 {
  border-radius: 20px;
  border: 0;
  line-height: 1.7;
  margin-left: 30%;
  font-size: 17px;
  text-align: center;
  color: #fff;
  background-color: #f3284d;
  font-family: bebas;
}

.pizza6:hover {
  background-color: #e5183e;
}

.pizza6:active {
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
